<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="erp_connector_full_save_after">
        <observer name="save_cleaner_configuration" instance="MageSuite\ErpConnectorCleaner\Observer\SaveCleanerConfiguration" />
    </event>
</config>
